* {
  background-color: transparent;
  color: #cdd6f4;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
}

window#waybar {
  background-color: rgba(30, 30, 46, 0.9);
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  color: #585b70;
  border-bottom: 2px solid transparent;
}

#workspaces button.focused {
  color: #89b4fa;
  font-weight: bold;
  border-bottom: 2px solid #89b4fa;
}

#workspaces button.urgent {
  color: #f38ba8;
}

#clock {
  margin: 0 8px;
}

#network,
#bluetooth,
#pulseaudio,
#cpu,
#battery,
#language,
#custom-idle {
  min-width: 12px;
  margin: 0 7.5px;
}

#custom-idle.active {
  color: #f9e2af;
}

#custom-screenrecord {
  min-width: 12px;
  margin: 0 7.5px;
  margin-right: 16px;
}

#custom-screenrecord.recording {
  color: #f38ba8;
  font-weight: bold;
}

#tray {
  margin-right: 16px;
}

#battery.warning {
  color: #f9e2af;
}

#battery.critical {
  color: #f38ba8;
}

#network.disconnected {
  color: #585b70;
}

#pulseaudio.muted {
  color: #585b70;
}

tooltip {
  padding: 2px;
  background-color: rgba(30, 30, 46, 0.95);
  border: 1px solid #313244;
}
